.meucontainer
{

    margin-left: 250px;
    margin-top: 100px;
    padding-left: 200px;
    margin: 200px;
}

.calc
{
    width: 300px;
    height: 400px;
    margin-top: 100px;
}

.espacamento
{
    margin-top: 10px;
    margin-bottom: 20px;
}

.cont
{
    
    margin-left: 20px;
    /* width: 80px;
    height: 100px;; */
}

.t
{
    margin-left: 5px;
}

.te
{
margin-right: 30px;
margin-top: 15px;
}
